.tela-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    background-color: black;
  }
  
  .tela-fundo {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem cubra toda a tela */
  }
  